// media breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$text-color: #0c1e1a;
$background-color: #effaf7;
$icons-color: #1e6655;
$border-color: #b7cec9;
$alt-background-color: #e4efec;
$alt-text-color: #ffffff;