@font-face{
    font-family : "Newsreader-Light" ;
    src : url("/src/assets/fonts/Newsreader-Light.woff")format("woff"),
          url("src/assets/fonts/Alternative Files/Newsreader-Light.woff2")format("woff2");
    font-weight: 300;
    font-style: normal ;
    font-display: swap;
}
  
@font-face{
    font-family: "Newsreader";
    src: url("/src/assets/fonts/Newsreader-LightItalic.woff")format("woff"),
         url("/src/assets/fonts/Alternative Files/Newsreader-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}
@font-face{
    font-family: "Newsreader";
    src: url("/src/assets/fonts/Newsreader-Regular.woff")format("woff"),
         url("/src/assets/fonts/Alternative Files/Newsreader-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Outfit-Light";
    src: url("../../assets/fonts/Outfit-Light.woff") format("woff"),
         url("../../assets/fonts/Alternative Files/Outfit-Light.woff2") format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: "Outfit-Light";
    src: url("../../assets/fonts/Outfit-Medium.woff") format("woff"),
         url("../../assets/fonts/Alternative Files/Outfit-Medium.woff2") format("woff2");
    font-weight: 500;
}