@use "/src/styles/partials/mixins" as *;

.snap-list {
  margin: 0.5rem;

  &__info {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
    gap: 1.25rem;
    justify-content: space-around; 

    .photo-card {
      width: 100%;

      @include tablet {
        max-width: 48%;
      }

      @include desktop {
        max-width: 24.5rem;
      }
    }
  }
}
