@use "/src/styles/partials/variables" as *;


.filter-list__list{
    background-color: $background-color;
    color: $icons-color;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding: 10px;
}

.tag-list__item{
    background-color: $alt-text-color;
    padding: 6px;
    border: 2px solid $icons-color;
  border-radius: 10px;
  font-size: 0.875rem;
  cursor: pointer;
  &:hover {
    background-color: $icons-color;
    color: $alt-text-color;
  }

  &--selected{
    background-color: $icons-color;
        color: $alt-text-color;
    &:hover {
        background-color: $icons-color;
        color: $alt-text-color;
      }
  }
}