@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/fonts" as *;

* {
  padding: 0;
  margin: 0;
}

body,
html {
  background-color: $background-color;
  padding: 0;
  margin: 0;
  font-family: "Outfit-Light", "Newsreader", Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Newsreader", serif;
  font-weight: 400;
  color: $text-color;
}

