@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/fonts" as *;

.main {
    margin:0.625rem;
  
    @include tablet{
    margin: 1.25rem;
    }
    &__heading {
      margin: 0.25rem;
    }
    &__subheading {
      padding: 0.625rem 0 1.5rem 0;
      font-size: 1.125rem;
      font-weight: 300;
      @include tablet {
        font-size: 1.5rem;
      }
    }
  
    &__para {
      font-size: 1.625rem;
      font-weight: normal;
      font-family: "Newsreader-Light", "Newsreader", "Serif";
      line-height: 2.375rem;
      padding-bottom: 1.75rem;
      @include tablet {
        font-size: 2.5rem;
        line-height: 4.125rem;
      }
      @include desktop {
        font-size: 3.25rem;
  
        width: 55.5%;
      }
  
      &-italic {
        font-family: "Newsreader";
        font-style: italic;
        font-weight: 300;
        color: $text-color;
      }
    }
  }
  
  .container {
    display: grid;
    &--open {
      float: right;
    }
  }
  .content {
    @include desktop {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  